*,
*::before,
*::after {
    box-sizing: border-box;
}

.gallery {
    display: flex;
    gap: 20px 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.gallery>li {
    box-shadow: 0px 5px 5px rgba(108, 242, 240, 0.1), -20px -20px 60px rgba(64, 245, 245, 0.14);
    transition: transform 300ms ease-in;
    border-radius: 4px;
    list-style: none;
}

.gallery>li:hover,
.gallery>li:focus {
    transform: scale(1.1);
}

.gallery-link {
    text-decoration: none;
}

img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 360px;
    height: 300px;
    border-radius: 5px;
}

.modal-image {
    width: 1112px;
    height: auto;
    border-radius: 12px;
}